DB_HOST=db
DB_PORT=5432
DB_NAME=labdb
DB_USER=postgres
DB_PASSWORD=postgres
VITE_API_BASE_URL=http://192.168.91.176:8042
CORS_ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost,http://127.0.0.1,http://192.168.91.176:8041
